QMainWindow{
    background-color: white;
}

QFrame{
  padding: 5px;
}

QLabel{
    min-width: 300px;
}

QLineEdit{
    min-width: 200px;
    border: 1px solid #CCC;
    height: 30px;
    padding-left: 10px;
}

QPushButton{
    background: #3498db;
    color: #ffffff;
    padding: 10px 20px 10px 20px;

    border-radius: 6px;
    width: 150px;
}

QPushButton:hover {
  background: #3cb0fd;
}

/*Use the # and the name of the variable to access to a specific the Control*/
#_firstnameField QLineEdit{
}
